.app {
  text-align: center;
  background-color: #5b3256;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.green {
  background: #bf55ec;
  box-shadow: 5px 5px 5px #8e44ad;
  color: #1d0c25;
}
